.footrow {
	background-color: #ecfbff;
}

.text12 {
	font-weight: lighter;
	font-size: 1rem;
	font-family: 'Segoe UI';
}

.heading {
	font-size: 1.5rem;

	color: #242424;
	font-family: 'Segoe UI';
}

li {
	margin-bottom: 6%;
}

li a {
	color: black;
	font-weight: lighter;
	font-size: 1rem;
	font-family: 'Segoe UI';
}

.heading1 {
	font-size: 1.5rem;

	color: #242424;
	font-family: 'Segoe UI';
}

.col13d {
	padding-left: 0%;
}

.col13d1 {
	padding: 0%;
}

/*header css */
.top-row {
	background-color: #3dc2e8;
}

.top-text {
	font-family: 'Segoe UI';
	font-size: 1.063rem;
	color: white;
}

.navitem {
	margin-top: 12px;
	margin-right:3.75vw;
	margin-bottom: 12px;
}

.navbar {
	margin-left: 0px;
	flex: auto;
}

/*homeScreen css */
.main-body {
	background-image: url('./images/pyramid-of-sea-pebbles-on-a-sunny-sand-beach-QDSR6V8.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
}

.col1 {
	margin-top: 195px;
}

.text1 {
	font-size: 6.25rem;
	font-weight: lighter;
	border: 1px;
	border-color: #707070;
	font-family: 'Segoe UI';
}

.text2 {
	font-size: 1.5rem;
	font-weight: lighter;
	margin-top: 18px;
	font-family: 'Segoe UI';
}

.button {
	color: white;
	background-color: #3dc2e8;
	border: 0px;
}

.col2 {
	background-color: white;
	padding-bottom: 15px;
	padding-top: 53px;
}

.availability {
	font-size: 1.563rem;
	margin-top: 17px;
	margin-left: 10px;
}

.wrapper {
	position: relative;
}

i.fa-calendar {
	position: absolute;
	top: 10px;
	left: 5px;
}

.dateInput {
	padding-left: 30px;
	padding-right: 1px;
	max-width: 69%;
	height: 38px;
	color: gray;
	border: 1px solid rgb(226, 223, 223);
	border-radius: 5px;
}

.buttonfont {
	font-size: 1.125rem;
	font-family: 'Segoe UI';
}

.button2 {
	color: white;
	font-size: 1.125rem;
	background-color: #3dc2e8;
	border: 0px;
	margin-left: 15%;
	margin-top: 15%;
	font-family: 'Segoe UI';
}

.check-button {
	color: white;
	font-size: 1.124467986084084vw;
	background-color: #3dc2e8;
	border: 0px;
	margin-left: 15px;

	font-family: 'Segoe UI';
}

input {
	font-family: FontAwesome, 'Segoe UI';
}

.col3 {
	padding: 0px;
}

.img1 {
	margin: 0px;
	max-width: 100%;
	height: auto;
}

.img {
	max-width: 100%;
	height: auto;
}

.text3 {
	font-size: 0.938rem;
	color: gray;

	font-family: 'Segoe UI';
}

.text4 {
	font-size: 3rem;
	font-weight: lighter;

	border: 1px;
	border-color: #707070;
	font-family: 'Segoe UI';
}

.text5 {
	font-size: 1.125rem;
	font-weight: lighter;
	color: gray;

	font-family: 'Segoe UI';
}

.text5a {
	font-size: 1.125rem;
	font-weight: lighter;

	font-family: 'Segoe UI';
}

.col5 {
	padding: 0px;
}

.img2 {
	margin: 0px;
	max-width: 100%;
	height: auto;
}

.col6 {
	padding-top: 5rem;
	padding-left: 4rem;
	padding-right: 3rem;
	padding-bottom: 5rem;
}

.col7a {
	border: 1px solid #3dc2e8;
	box-shadow: 0px 0px 60px 0px #e3e7e9;

	height: 20rem;
}

.col7b {
	border: 1px solid #3dc2e8;
	box-shadow: 0px 0px 60px 0px #e3e7e9;

	height: 20rem;
}

.text6 {
	font-size: 1.375rem;

	color: #545454;
	font-family: 'Segoe UI';
}

.text7 {
	font-size: 0.875rem;
	font-weight: lighter;
	color: #040404;
	font-family: 'Segoe UI';
}

.button3 {
	background-color: white;
	color: #3dc2e8;
	border: 0px;
}

.row3 {
	background-color: #f6f6f6;
}

.text8 {
	font-family: 'Segoe UI';
}

.text9 {
	font-size: 3rem;
	font-weight: lighter;

	border: 1px;
	border-color: #707070;

	font-family: 'Segoe UI';
}

.text10 {
	font-family: 'Segoe UI';
}

.img6 {
	margin-bottom: 0%;
}

.row4 {
	height: 100%;
	background-image: url('./images/Group 46.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.text11 {
	font-size: 3.75rem;
	font-weight: lighter;

	font-family: 'Segoe UI';

	color: white;
}

.col10a {
	padding-top: 3%;
	padding-bottom: 0%;
}

.col10b {
	padding-top: 4%;
	padding-bottom: 0%;
}

.row6 {
	margin-bottom: 2%;
}

.row7 {
	margin-bottom: 7%;
}

.col11a {
	padding-right: 0%;
	padding-left: 1%;
	margin-left: 12%;
	margin-right: 0px;
}

.col11b {
	padding-left: 1%;
	margin-left: 0%;
}

.img11a {
	margin-right: 0%;
	margin-left: 0%;
	max-width: 100%;
}

.img11b {
	margin-left: 0%;
	margin-left: 0%;
	max-width: 100%;
	margin-right: 0%;
}

.img12a {
	margin-right: 0%;
	margin-left: 0%;
	max-width: 100%;
}

.img12b {
	margin-left: 2%;
	margin-right: 0%;
	max-width: 100%;
	margin-right: 30%;
}

.Row {
	height: 791px;
}

.check {
	border: 1px solid red;
}

.check1 {
	border: 1px solid blue;
}

.check2 {
	border: 1px solid brown;
}

.App {
	font-family: 'Segoe UI';
}

.spacer {
	margin-top: 5rem;
}

.service {
	display: flex;
	align-content: space-evenly;
}

.service-item {
	display: flex;
	border: 1px solid rgba(149, 162, 167, 0.91);
	border-radius: 0.7rem;
	padding: 0.2rem;
}

.container__PriceIcon {
	display: flex;
	justify-content: space-between;
}

.price__PriceIcon {
	font-size: 1rem;
	font-weight: bold;
}
